<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Use <%= page.title %> for dynamic titles -->
        
        <% if(is_post()) { %>
           <title> <%= titlecase( config.title )%> - <%= titlecase( config.subtitle ) %> - <%= page.title %></title>
        <% } else { %>
            <title> <%= titlecase( config.title )%> - <%= titlecase( config.subtitle ) %> </title>
        <% } %>

        <!-- Shoelace (via cdn) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta10/shoelace.css" crossorigin="anonymous">
        <%- css('css/style.css') %>
        <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1><a href="/"><%= config.title %></a></h1>
                <p><%= config.subtitle %></p>
            </header>
            <%- body %>
        </div>
        <%- js('js/script') %>
    </body>
</html>